[Unit]
Description=Trigger user theme switcher on resume
After=suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
User=%i
ExecStartPre=/bin/sleep 3
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
ExecStart=/bin/bash -c '/home/%i/.local/bin/theme-init.sh schedule'

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target
